@tailwind base;
@tailwind components;
@tailwind utilities;

#page1__section--vid {
  background-image: url("../assets//ball_gif.gif");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  background-color: black;
  hyphens: auto;
}
.page1__section {
  &--vid {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .vid__bottom {
      position: fixed;
      top: -10rem;
      width: 140rem;
      height: auto;
    }
  }

  .search-bar {
    position: absolute;
    width: 35%;
    border-radius: 2rem;
    padding: 1rem;
    background-color: white;
    height: 3.5rem;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);

    input {
      font-size: 1.7rem;
      width: 85%;
      border: none;
    }
  }
}

.custom-cursor {
  background-image: url("../assets/pen.png");

  img {
    filter: drop-shadow(10px 10px 70px rgb(247, 182, 85));
 
  }

  .scroll-img{
    width: 85%;
    
  }

  .Typewriter{
    position: absolute;
    top: 17%;
    left: 28%;
    text-align: left;
    width: 40%;
    overflow-wrap:break-word;
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    

   
  }
}

.god__img {
  position: absolute;
  top: 0;
  left: 0%;
  width: 1400px;

  overflow: hidden;
  height: 100vh;
}

.Typewriter {
  .Typewriter__cursor {
    cursor: url("../assets/pen.png"), auto !important;
  }
}
